/* Special Section Starts Here */
* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: white;
	font-family: Carrois Gothic;
}

/* Special Section Ends Here */

/* Header Section Starts Here */
.hc-main {
	display: flex;
	flex-direction: row;
	width: 100%;
	/* background-color: rgb(4, 68, 4); */
	background-color: black;
	color: black;
	position: sticky;
	/*border-bottom: 2px solid rgb(4, 68, 4); */
	top: 0;
	z-index: 2;
}

.logo-div {
	display: flex;
	flex-direction: row;
	padding-left: 30px;
	width: 30%;
}

.logo-img {
	width: 80px;
	position: absolute;
}

.logo {
	padding-left: 90px;
	color: #feba4d;
}

.open-btn,
.close-btn {
	display: none;
}

.nav-div {
	width: 70%;
	display: flex;
	justify-content: end;
	flex-direction: row;
	padding-right: 50px;
	padding-top: 20px;
	height: 60px;
}

.navlink {
	padding-right: 10px;
	padding-left: 10px;
	color: white;
	text-decoration: none;

}

.navlink:hover {
	text-decoration: none;
	border-bottom: 2px solid #feba4d;
	color: #feba4d;
}

/* Mobile Responsiveness Sections Starts Here */
@media screen and (max-width: 600px) {
	.nav-div {
		display: none;
		flex-direction: column;
		width: 100%;
		background-color: black;
		justify-content: start;
		padding-right: 0px;
		padding-top: 20px;
		position: fixed;
		height: 100%;
		overflow-x: scroll;
	}

	.navlink {
		padding-right: 10px;
		padding-left: 10px;
		color: white;
		text-decoration: none;
		font-size: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.navlink:hover {
		text-decoration: none;
		border-bottom: 2px solid #feba4d;
	}

	.logo-div {
		display: flex;
		flex-direction: row;
		padding-left: 20px;
		padding-top: 10px;
		width: 30%;
	}

	.logo-img {
		width: 60px;
		height: max-content;
		position: relative;
		/*padding-top: 10px;*/
	}

	.logo {
		padding-left: 10px;
	}

	.open-btn {
		display: block;
		margin-left: 170px;
		font-size: 30px;
		margin-top: 20px;
		color: #feba4d;
	}

	.close-btn {
		display: block;
		position: fixed;
		margin-left: 250px;
		font-size: 60px;
		margin-top: -20px;
		color: #feba4d;
	}
}

/* Mobile Responsiveness Sections Ends Here */
/* Header Section Ends Here */

/* Banner Section Starts Here */
.banner {
	background-image: url(business4-slider-bg.jpg);
	background-position: center;
	background-size: cover;
	min-height: 100%;
	height: 650px;
	margin-top: -22px;
	/*filter: grayscale(80%);*/
	position: relative;
}

.a-banner {
	color: #feba4d;
	padding-left: 50px;
	font-weight: 700px;
	font-size: 24px;
	filter: drop-shadow(4px 4px 4px black);
}

.b-banner {
	font-weight: 700px;
	font-size: 40px;
	padding-left: 50px;
	color: white;
	width: 400px;
	filter: drop-shadow(4px 4px 6px black);
	letter-spacing: 6px;
}

.c-banner {
	padding-left: 260px;
	color: #feba4d;
	font-size: 15px;
	filter: drop-shadow(4px 4px 6px black);
}

.bb-div {
	width: 100%;
	background-color: white;
	display: block;
	height: auto;
}

.bba-div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 100px;
	margin-right: 100px;
}

.bb-content {
	background-color: red;
	width: 30%;
	padding: 40px 20px;
	text-align: center;
	border-radius: 10px;
}

.bf-div {
	width: 100%;
	background-color: black;
	padding-top: 50px;
	padding-bottom: 50px;
	display: block;
	height: auto;
}

.bbf-div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 100px;
	margin-right: 100px;
}

.bbf-content {
	background-color: transparent;
	color: white;
	width: 30%;
	padding: 40px 20px;
	text-align: left;
	border-radius: 10px;
}

.u-link{
	text-decoration: none;
	color: white;
	height: 30px;
}

/* Responsive Section Starts Here */
@media screen and (max-width: 600px) {
	.a-banner {
		color: #feba4d;
		padding-left: 40px;
		font-weight: 700px;
		font-size: 24px;
		filter: drop-shadow(4px 4px 4px black);
	}

	.b-banner {
		font-weight: 700px;
		font-size: 40px;
		padding-left: 40px;
		color: white;
		width: 400px;
		filter: drop-shadow(4px 4px 6px black);
		letter-spacing: 0px;
	}

	.c-banner {
		padding-left: 220px;
		color: #feba4d;
		font-size: 15px;
		filter: drop-shadow(4px 4px 6px black);
	}

	.bba-div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 10px;
		margin-right: 0px;
	}

	.bb-content {
		background-color: red;
		width: 97%;
		padding: 40px 20px;
		text-align: center;
		border-radius: 10px;
		margin-top: 5px;
	}

	.bf-div {
		width: 100%;
		background-color: black;
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
		height: auto;
	}

	.bbf-div {
		display: block;
		flex-direction: row;
		justify-content: space-evenly;
		margin-left: 20px;
		margin-right: 0px;
	}

	.bbf-content {
		background-color: transparent;
		color: white;
		width: 85%;
		padding: 0px 0px;
		text-align: left;
		border-radius: 10px;
	}

}


/* Banner Section Ends Here */

/* Footer Section Starts Here */
.pg-foot {
	background-color: black;
	position: relative;
	margin-bottom: -15px;
	margin-top: -17px;
	border-top: 1.5px solid white;
	color: white;
	text-align: center;
	display: block;
}

.bck-to-top {
	display: none;
	position: fixed;
	text-align: center;
	bottom: 10px;
	right: 30px;
	z-index: 1;
	font-size: 30px;
	border: none;
	outline: none;
	background-color: white;
	color: black;
	cursor: pointer;
	padding: 3px;
	border-radius: 50px;
	transition: background-color, color 1s;
	border: 1px solid black;
	height: 50px;
	width: 50px;
}

.bck-to-top:hover {
	background-color: black;
	color: white;
}

/* Mobile Responsiveness Section Starts Here */
@media screen and (max-width: 600px) {
	.pg-foot {
		background-color: black;
		position: relative;
		margin-bottom: -15px;
		color: white;
		text-align: center;
	}

	.bck-to-top {
		padding: 4px;
		height: 40px;
		width: 40px;
		font-size: 22px;
		/* right: 120px;
		bottom: -13px; */
	}

}

/* Mobile Responsiveness Section Ends Here */
/* Footer Section Ends Here */

/* excos.html table section starts here */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th,
td {
	text-align: left;
	padding: 5px;
	overflow-wrap: break-word;
}

tr:nth-child(even) {
	background-color: #cec9c9
}

tr:nth-child(odd) {
	background-color: white
}

/* excos.html table section ends here */

/* Accordion Section Styling Starts Here */
.shell {
	background-color: black;
	color: #feba4d;
	;
	cursor: pointer;
	padding: 15px;
	padding-left: 50px;
	width: 100%;
	border-top: 1px solid black;
	text-align: left;
	outline: none;
	font-size: 20px;
	font-family: 'Carrois Gothic';
}

.shell::after {
	/* content: url(../svg/icon-expand-more.svg); */
	content: "+";
	float: left;
	width: 50px;
	height: 5px;
}

.active::after {
	content: "-";
	float: left;
	width: 50px;
	height: 5px;
}

.active {
	background-color: white;
	color: black;
}

.shell:hover {
	background-color: #ccc;
	color: black;
}

.inner {
	padding: 0 18px;
	padding-left: 50px;
	display: none;
	stroke-opacity: 0.4;
	background-color: transparent;
	color: #feba4d;
	overflow: hidden;
}

/* Accordion Section Styling Stops Here */

/* about.html styling section starts here */

.md1 {
	width: 100%;
	height: auto;
	display: block;
	background-color: black;
	padding-left: 100px;
	padding-top: 70px;
	padding-right: 50px;
}

.md2 {
	display: flex;
	flex-direction: row;
}

.md3 {
	width: 30%;
	height: auto;
	background-color: rgb(0, 0, 0, 0.5);
}

.md3-img {
	width: 100%;
	height: 100%;
}

.md3-inner {
	padding: 20px;
	position: absolute;
	background-color: rgb(0, 0, 0, 0.5);
	color: white;
	top: 500px;
	font-weight: 400;
}

.md4 {
	width: 70%;
	height: auto;
	background-color: burlywood;
	padding: 50px 20px 20px 50px;
}

.md5 {
	border-left: 10px solid black;
}

.md5-h3 {
	padding-left: 10px;
	font-size: 34px;
	font-weight: 400;
}

.ms1 {
	display: flex;
	flex-direction: row;
}

.ms2 {
	width: 50%;
	background-color: rgb(0, 0, 0, 0.5);
	color: white;
	padding-top: 10px;
	padding-right: 10px;
}

.ms2-p1 {
	padding-top: 20px;
	color: #feba4d;
}

.ms2-h3 {
	font-size: 80px;
	font-weight: 800;
	color: white;
	margin-top: -10px;
}

.ms2-h3c {
	font-size: 60px;
	font-weight: 800;
	color: white;
	/* margin-top: -10px; */
}

.ms3 {
	width: 50%;
}

.ms3-img {
	width: 100%;
	height: 600px;
}

.wd1 {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-left: 50px;
	padding-bottom: 20px;
}

.wd2 {
	width: 55%;
	padding-right: 20px;
}

.wd3 {
	width: 40%;
	background-color: black;
}

@media screen and (max-width: 600px) {
	.md1 {
		width: 100%;
		height: auto;
		display: block;
		background-color: black;
		padding-left: 5px;
		padding-top: 0px;
		padding-right: 5px;
	}

	.md2,
	.ms1 {
		display: flex;
		flex-direction: column;
	}

	.md3 {
		width: 100%;
		height: 525px;
		background-color: rgb(0, 0, 0, 0.5);
	}

	.md3-img {
		width: 100%;
		height: 100%;
	}

	.md3-inner {
		padding: 20px;
		position: absolute;
		background-color: rgb(0, 0, 0, 0.5);
		color: white;
		top: 500px;
		font-weight: 400;
	}

	.md4 {
		width: 100%;
		height: auto;
		background-color: burlywood;
		padding: 0px 0px 0px 3px;
	}

	.md5 {
		border-left: 10px solid black;
	}

	.md5-h3 {
		padding-left: 10px;
		font-size: 20px;
		font-weight: 400;
	}

	.ms2 {
		width: 100%;
		background-color: rgb(0, 0, 0, 0.5);
		color: white;
		padding-top: 0px;
		padding-right: 10px;
	}

	.ms2-p1 {
		padding-top: 0px;
		color: #feba4d;
	}

	.ms2-h3 {
		font-size: 50px;
		font-weight: 400;
		color: white;
	}

	.ms2-h3c {
		font-size: 50px;
		font-weight: 400;
		color: white;
		margin-top: -10px;
	}

	.ms3 {
		width: 100%;
	}

	.ms3-img {
		width: 100%;
		height: 350px;
	}

	.wd1{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-left: 5px;
		padding-bottom: 10px;
	}
	
	.wd2{
		width: 100%;
		padding-right: 10px;
	}
	
	.wd3{
		width: 98%;
		background-color: black;
	}
}

.ca1{
	width: 100%;
	display: block;
	background-color: black;
	padding-left: 200px;
	padding-right: 100px;
	border-bottom: 2px solid white;
}

.ca2{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.ca3{
	background-color: none;
	color: #feba4d;
	width: 20%;
	text-align: center;
	padding: 5px 0px 5px 0px;
	line-height: 0px;
}


@media screen and (max-width: 600px) {
	.ca1{
		width: 100%;
		display: block;
		background-color: black;
		padding-left: 126px;
		padding-right: 100px;
		border-bottom: 2px solid white;
	}
	
	.ca2{
		display: flex;
    flex-direction: column;
	}
	
	.ca3{
		background-color: transparent;
    color: #feba4d;
    width: 120%;
    text-align: center;
    padding: 15px 0px 15px 0px;
    line-height: 0px;
	}
}


form {
	margin-top: 20px;
	font-family: Carrois Gothic;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-family: Carrois Gothic;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: Carrois Gothic;
}

button[type="submit"] {
	background-color: #feba4d;
	color: black;
	font-family: Carrois Gothic;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
}

button[type="submit"]:hover {
	background-color: black;
	border: 2px solid white;
	color: white;
}

/* NEW ONE */
.large-cont{
	width: 100%; 
	background-color: white; 
	padding-top: 20px;
}

.inner{
	width: 50%;
	margin-right: 130px;
	margin-left: auto;
	display: flex;
	margin-top: -10px;
}

.dot{
	width: 10px; 
	height: 10px; 
	border-radius: 50%; 
	background-color: red; 
	margin-right: 10px;
}

.long-dot{
	width: 100px; 
	height: 10px; 
	border-radius: 80px; 
	background-color: red; 
	margin-right: 10px;
}

.lsec{
	width: 30%;
	border: 2px solid gray;
	margin-left: 35px;
	background-color: white;
	box-shadow: 2px 5px 5px gray;
}

.lsec-des{
	padding: 10px;
}

.img-des{
	width: 100%; 
	border-bottom: 2px solid black;
}

.container{
	width: 70%; 
	display: flex; 
	margin-left: 150px;
	padding-bottom: 20px;
}

pre{
	font-size: 20px;
	text-align: center;
}

.img-des{
	width: 100%; 
	border-bottom: 2px solid black;
}

/* This Section is for Media Screens - Mobile Devices */
@media screen and (max-width: 600px) {

	.lsec {
			width: 90%;
			border: 2px solid gray;
			margin-left: 25px;
			margin-bottom: 20px;
			background-color: white;
			box-shadow: 2px 5px 5px grey;
	}

	.container {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-left: -10px;
			padding-bottom: 20px;
	}


	.lsec1 {
			width: 100%;
			/* border: 2px solid gray; */
			/* margin-left: 35px; */
			background-color: white;
			/* box-shadow: 2px 5px 5px grey; */
	}

	.inner {
    width: 90%;
    margin-right: 130px;
    margin-left: 30px;
    display: flex;
    margin-top: -10px;
}

}


/* This Section is for Media Screens - Tablet Devices */
@media screen and (min-width: 768px) {
	.container {
    width: 100%;
    display: flex;
    margin-left: 0px;
    padding-bottom: 20px;
}
.lsec {
	width: 34%;
	border: 2px solid gray;
	margin-left: 0px;
	background-color: white;
	box-shadow: 2px 5px 5px gray;
}
.nav-div {
	width: 70%;
	display: flex;
	justify-content: end;
	flex-direction: row;
	padding-right: 5px;
	padding-top: 20px;
	height: 60px;
}

.bb-content {
	background-color: red;
	width: 32%;
	padding: 40px 20px;
	text-align: center;
	border-radius: 10px;
}

.bba-div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 0px;
	margin-right: 0px;
}

.ca1 {
	width: 100%;
	display: block;
	background-color: black;
	padding-left: 100px;
	padding-right: 100px;
	border-bottom: 2px solid white;
}

.ca3 {
	background-color: none;
	color: #feba4d;
	width: 25%;
	text-align: center;
	padding: 5px 0px 5px 0px;
	line-height: 15px;
}

}